.login-signup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
  justify-content: space-evenly;
  min-height: 90vh;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.container {
  padding: 5px;
  margin-left: 2%;
  margin-right: 2%;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.ellipsis-text {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-align-center {
  text-align: center;
}

.html-background-0 {
  background: linear-gradient(to bottom, #dedede, #f0f4f5 20%);
}

.pair-background-0 {
  background: linear-gradient(to top right, #f0f4f5, #dedede 300%);
}

.modal-background-0 {
  background-image: linear-gradient(to right, #f0f4f5, #dedede 160%);
}

.modal-details-background-0 {
  background-image: linear-gradient(to right, #f0f4f5, #dedede 150%);
}

.item-scroll-background-0 {
  background-image: linear-gradient(to bottom, #dedede, #c9cece 150%);
  color: #737475;
}
.item-scroll-background-0:hover, .item-scroll-background-0:focus {
  background-image: linear-gradient(to top, #737475, #343635 150%);
  color: #f0f4f5;
}

html {
  background: #f0f4f5;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: 101%;
}

form {
  color: #343635;
  padding: 10px;
}

input {
  border: transparent;
  border-bottom: 2px solid #c9cece;
  border-right: 2px solid #c9cece;
  border-radius: 5px;
  margin: 4px;
}

label {
  margin: 4px;
}

button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f0f4f5;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 1px 1px 0.3em #737475;
  margin: 10px;
}
button:hover, button:focus {
  background-color: #dedede;
  cursor: pointer;
}

form button {
  margin: auto;
  margin-top: 20px;
  width: 50%;
}

form fieldset legend {
  text-align: center;
  font-weight: bolder;
}

.loading-svg {
  margin-left: 42%;
}

.pair {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  border: 1px transparent;
  border-bottom: 1px solid #c9cece;
  border-right: 1px solid #c9cece;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #c9cece;
  margin: 7px;
  width: 65%;
}
.pair:hover, .pair:focus {
  box-shadow: 1px 1px 6px #737475;
  cursor: pointer;
}
.pair > div {
  padding: 5px;
  width: 80%;
}
.pair > div:hover, .pair > div:focus {
  text-shadow: 0px 0px 1px #343635;
}
.pair > span {
  width: 15%;
  text-align: center;
  height: 35px;
  font-size: 1.6em;
  font-weight: 900;
  text-shadow: 0px 0px 2px #343635;
  color: #f0f4f5;
}
.pair > span:hover, .pair > span:focus {
  color: #343635;
}

/*modal*/
.modal-off {
  display: none;
}

.modal-on {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 150%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  animation: aparece 0.15s;
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal-content-box {
  margin: 15% auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid #c9cece;
  border-radius: 5px;
  width: 80%;
}
.modal-content-box form fieldset {
  width: 100%;
}
.modal-content-box form fieldset label {
  margin-top: 10px;
  margin-bottom: 5px;
}
.modal-content-box form fieldset > input {
  width: 100%;
}
.modal-content-box .close {
  color: #737475;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-content-box .close:hover, .modal-content-box .close:focus {
  color: #343635;
  text-decoration: none;
  cursor: pointer;
}

.modal-details-content-box {
  margin: 15% auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #c9cece;
  border-radius: 5px;
  width: 85%;
  max-width: 500px;
  background-color: #f0f4f5;
}
.modal-details-content-box .feedback-scroll-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 50px;
  white-space: nowrap;
  overflow-x: auto;
  background-color: white;
  border-radius: 5px;
  border-bottom: 2px solid #c9cece;
  border-right: 2px solid #c9cece;
}
.modal-details-content-box .feedback-scroll-list .item-scrool-list {
  margin: 2px;
  margin-left: 5px;
  font-size: 14pt;
  border-radius: 5px;
}
.modal-details-content-box .details-feedback {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}
.modal-details-content-box .form-new-feedback form fieldset {
  display: flex;
}
.modal-details-content-box .form-new-feedback form fieldset > input {
  width: 100%;
  margin-bottom: 5px;
}
.modal-details-content-box .form-new-feedback form fieldset button {
  max-width: 150px;
  margin-top: 10px;
}
.modal-details-content-box .rating-input {
  width: 4ch;
}
.modal-details-content-box .close {
  color: #737475;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-details-content-box .close:hover, .modal-details-content-box .close:focus {
  color: #343635;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: #f0f4f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #737475;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #343635;
}

@media (min-width: 400px) {
  .pair {
    width: 40%;
  }

  .modal-content-box {
    width: 320px;
  }
}
@media (min-width: 600px) {
  .pair {
    width: 27%;
  }
}
@media (min-width: 900px) {
  .pair {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .pair {
    width: 15%;
  }
}

/*# sourceMappingURL=global.css.map */
