@import './loginAndSignUp.scss';

$darkerColor : #343635;
$midDarkColor : #737475;
$midColor : rgb(201, 206, 206);
$midlightColor : rgb(222, 222, 222);
$lighterColor : rgb(240, 244, 245);
$commomMargin: 4px;

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.align-center{
  align-items: center;
}

.align-baseline{
  align-items: baseline;
}

.container {
  padding: 5px;
  margin-left: 2%;
  margin-right: 2%;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@mixin PairWidth ($varName) {
  .pair{
    width: $varName;
  }
}
.pair{
  border: 1px solid $midColor;
  border-radius: 2px;
  padding: 5px;
  margin: 5px;
  width: 60%;
}

body {
  background-color: $lighterColor;
}

form {
  color: $darkerColor;
  padding: 10px;
}

input{
  border: transparent;
  border-bottom: 2px solid $midColor;
  border-right: 2px solid $midColor;
  border-radius: 5px;
  margin: $commomMargin;
}

label {
  margin: $commomMargin;
}

button{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $midlightColor;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 1px 1px .3em $midColor;
  margin: 10px;
}

form button {
  margin: auto;
  width: 50%;
}

form fieldset legend {
  text-align: center;
  font-weight: bolder;
}

.loading-svg {
  margin-left: 42%;
}

/*modal*/
.modal-add-pair-off{
  display: none;
}

.modal-add-pair-on {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  animation: aparece .15s;
}

@mixin addPairModalContent ($varName) {
  .modal-content-box {
    width: $varName;
  }
}

@keyframes aparece {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.modal-content-box {
  background-color: $lighterColor;
  margin: 3% auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid $midColor;
  border-radius: 5px;
  width: 80%;

  form fieldset{
    width: 100%;
  }  

  form fieldset legend {
    margin: 5px;
  }

  form fieldset > input {
    width: 100%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

.rating-input{
  width: 2ch;
}

@media (min-width: 400px){
  @include PairWidth(40%); 
  @include addPairModalContent (320px);
}

@media (min-width: 600px){
  @include PairWidth(27%); 
}

@media (min-width: 900px){
  @include PairWidth(20%);
}

@media (min-width: 1200px){
  @include PairWidth(15%);
}
